

<div class="wrapper">
  <h2>Iniciar Sesión</h2>
  <form action="/auth/login" method="POST">
    <label>Email
      <input type="email" name="email" placeholder="Correo" required />
    </label>
    <label>
      <input type="password" name="password" placeholder="Contraseña" required />
    </label>
  
  
    <button type="submit"> Iniciar Sesión</button>
    <div class="member">
      ¿No tienes cuenta? <a href="/auth/signup"> Registrate aquí</a>
    </div>

    {{#if errorMessage}}
      <div class="alert alert-danger" role="alert">
        {{errorMessage}}
      </div>
    {{/if}}
  </form>
</div>


<style>

.wrapper{
  width: 330px;
  padding: 2rem 1rem;
  margin: 50px auto;
  background-color: #fff;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 20px 35px rgba(0, 0, 0, 0.4);
}

h2{
  font-size: 2rem;
  color: black;
  margin-bottom: 1.2rem;
}

form input{
  width: 92%;
  outline: none;
  border: 1px solid #fff;
  padding: 12px 20px;
  margin-bottom: 10px;
  border-radius: 20px;
  background: #e4e4e4;
}

button{
  font-size: 1rem;
  margin-top: 1.8rem;
  padding: 10px 0;
  border-radius: 20px;
  outline: none;
  border: none;
  width: 90%;
  cursor: pointer;
  background-color: rgb(17, 107, 143;
}

button:hover{
  background: rgba(17, 107, 143, .877);
}

input:focus{
  border: 1px solid rgb(192, 192, 192);
}

.terms{
  margin-top: 0,2rem;
}

.terms input{
  height: 1em;
  width: 1em;
  vertical-align: middle;
  cursor: pointer;
}

.terms label{
  font-size: .7rem;
}

.terms a{
  color: rgb(17, 107, 143);
  text-decoration: none;
}

.member{
  font-size: .8rem;
  margin-top: 1.4rem;
  color: #636363;
}

.member a{
  color: rgb(17, 107, 143);
  text-decoration: none;
}

</style>