
<div class="parte1">
    <h1>¿Qué es el Gran Buro Inmobiliario?</h1>
    <p>Una herramienta creada y diseñada para registrar el comportamiento y el mal actuar
        de arrendatarios, profesionales inmobiliarios, notarías y constructores.
    </p>
</div>

<div class="parte2">
    <h2>No permitas que continuen estafando a otras personas <span>¡No estás solo!</span></h2>
    <button class="botonCrearReseña"> Crear Reseña</button>
</div>

<div class="parte3">
    <h3>¿Piensas rentar cualquier inmueble, comprar una propiedad o hacer tus tramites en alguna notaría?</h3>
    <p>Conuslta el <span>Gran Buro Inmobiliario</span> revisa sus referencias y evitate problemas</p>
    <button class="botonConsultarBuro">Hacer una Conuslta</button>
</div>

<style>
 
body{
    
}

.parte1{
    background-color: beige;
    border: 5px  solid #1a659e;
    height: 200px;
    width: 1000px;
    margin: 10px;
}

.parte2{
    background-color: beige;
    border: 5px  solid #1a659e;
    height: 200px;
    width: 1000px;
    margin: 10px;
}

.parte3{
    background-color: beige;
    border: 5px  solid #1a659e;
    height: 200px;
    width: 1000px;
    margin: 10px;
}



</style>