<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>{{appTitle}}</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>

  <body>
    <header class="header">
    <nav class="nav">
        <a href="#" class="logo nav-link">GBI</a>
        <button class="nav-toggle"> <img src="/public/images/menu.png" alt=""></button>
        <ul class="nav-menu">
             <li class="nav-menu-item"><a href="#" class="nav-link nav-link">Inicio</a></li>

             <li class="nav-menu-item"><a href="#" class="nav-link nav-link">¿Quienes Somos?</a></li>

             <li class="nav-menu-item"><a href="#" class="nav-link nav-link">Servicios</a></li>

             <li class="nav-menu-item"><button class="nav-link nav-link botonNav">Registrate</button></li>

             <li class="nav-menu-item"><button class="nav-link nav-link botonNav">Iniciar Sesión</button></li>
        </ul>
    </nav>
</header>

    {{{body}}}

<footer class="pie">
 
</footer>

    <script src="/js/script.js"></script>
  </body>

</html>

<style>
  @import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
</style>