<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>{{appTitle}}</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>

  <body>
    <header class="header">
    <nav class="nav">
        <a href="/" class="logo nav-link"><img src="/images/buroActualizado.png" height="110px" alt="" ></a>
        <button class="nav-toggle"> <img src="/public/images/menu.png" alt=""></button>
        <ul class="nav-menu">
             <li class="nav-menu-item"><a href="/" class="nav-link nav-link">Inicio</a></li>

             <li class="nav-menu-item"><a href="/quienSomos" class="nav-link nav-link">¿Quienes Somos?</a></li>


             
              {{#unless userInSession}} 
              <li class="nav-menu-item">
                <a href="/auth/signup">
                  <button class="nav-link nav-link botonNav">Registrate</button>
                </a>
              </li>
              
              <li class="nav-menu-item">
                <a href="/auth/login">
                  <button class="nav-link nav-link botonNav">Iniciar Sesión</button>
                </a>
              </li>
              {{/unless}}
             

             <li class="nav-menu-item">
              {{#if userInSession}}
                <a href="/profile">
                  <img src="{{userInSession.picture}}" alt="">
                  <strong>{{userInSession.username}}</strong>
                </a>

                <a href="/auth/logout">
                    <button class="nav-link nav-link botonNav">Cerrar Sesión</button>
                </a>
              {{/if}}
             </li>
          
        </ul>
    </nav>
</header>

    {{{body}}}

<footer class="footer">
    <p>© 2023 Gran Buro Inmobiliario. Todos los derechos reservados.</p>
  </footer>

    <script src="/js/script.js"></script>
  </body>

</html>

<style>
  @import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
</style>