

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Ubuntu', sans-serif;
  transition: .5s;
}

body{
  font-family: sans-serif;
  padding: 90px 20px 0;
}

.header{
  background-color: #ff6b35;
  height: 80px;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
}

.nav{
  display: flex;
  justify-content: space-between;
  max-width: 992px;
  margin: 0 auto;
}

.nav-link{
  color: white;
  text-decoration: none;
}

.logo{
  font-size: 30px;
  font-weight: bold;
  padding: 0 40px;
  line-height: 80px;
}

.nav-menu{
  display: flex;
  margin-right: 40px;
  list-style: none;
}

.nav-menu-item{
  font-size: 15px;
  margin: 0 10px;
  line-height: 80px;
  text-transform: uppercase;
  width: max-content;
}
.nav-toggle{
  color: white;
  background: none;
  border: none;
  font-size: 30px;
  padding: 0 20px;
  line-height: 60px;
  display: none;
}

.botonNav{
  font-size: 15px;
  background-color: #004e89;
  height: 35px;
  width: 100px;
  border-radius: 8px;
}
/* Código para volverlo Responsive*/
@media (max-width: 768px){
  body{
      padding-top: 70px;
  }

  .header{
      height: 60px;
  }


  .logo{
      font-size: 25px;
      padding: 0 20px;
      line-height: 60px;
  }

  .nav-menu{
      flex-direction: column;
      align-items: center;
      margin-right: 20px;
      background-color: #2c3e50;
      position: fixed;
      left: 0;
      top: 60px;
      width: 100%;
      padding: 20px 0;
      
      height: calc(100% - 60px);
      overflow-y: auto;
  }

  .nav-menu-item{
      line-height: 70px;
  }

  .nav-toggle{
      display: block;
  }
}

/*
  Código footer
*/
footer{
  color: whitesmoke;
  background-color: #2c3e50;
  height: 50px;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 10px;
  text-align: center;
  border-top: 5px solid #1a659e;
}
